<h1>Create Dog</h1>

<form action="/dogs/" method="post">
  <div>
    <label for="name">Name: </label>
    <input type="text" name="dog[name]" id="name">
  </div>
  <div>
    <label for="gender">Gender: </label>
    <input type="text" name="dog[gender]" id="gender">
  </div>
  <div>
    <label for="coat_color">Coat Color: </label>
    <input type="text" name="dog[coat_color]" id="coat_color">
  </div>
  <div>
    <label for="age">Age: </label>
    <input type="text" name="dog[age]" id="age">
  </div>
  <div>
    <label for="for_sale">For Sale?: </label>
    <input type="checkbox" name="dog[for_sale]" id="for_sale">
  </div>
  <div>
    <label for="price">Price: </label>
    <input type="text" name="dog[price]" id="price">
  </div>

  <input type="submit" value="Create Dog">
</form>

